server {
    listen 80;
    server_name azurita.projectapp.co www.azurita.projectapp.co;

    location = /favicon.ico { access_log off; log_not_found off; }
    
    location /static/ {
        alias /home/ryzepeck/webapps/azurita/staticfiles/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ryzepeck/webapps/azurita/azurita.sock;
    }
}
